{% extends 'base.html' %}
{% load static %}
{% block content %}



    <h1 style="text-align:center;padding-left: 100px" >CRUD OPERATIONS USING DJANGO FORMS</h1>
    <div class="row" style="padding: 100px" >

        <div class="col-sm-4 offset-4" >
            <h4 class="text-centre alert alert-info">Edit the Item</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Update">
            </form>
        </div>


    </div>


{% endblock %}
